<!--Begin Linklog "{% include logic/pp-title.html %}"-->
<article class="linklog" itemprop='blogPost' itemscope itemtype="http://schema.org/BlogPosting">
<header>
<hgroup>
<h1 itemprop="name headline">
<a href="{% include logic/pp-external-url.html %}" itemprop="url">{% include logic/pp-title.html %}</a>
<span class='linklog-marker'>{{ site.linklog }}</span>
</h1>
<h2><small>
<time datetime="{% include logic/pp-date-xml.html %}" itemprop="datePublished">{% include logic/pp-date-str.html %}</time>
&bull; <a rel="bookmark" href="{% include logic/pp-url.html %}">{% if site.permalink_marker %}{{ site.permalink_marker }}{% else %}&#8734;{% endif %}</a>
</small></h2>
{% include logic/pp-post-author.html %}
</hgroup>
</header>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<section itemprop="articleBody">
{% include logic/pp-content.html %}
</section>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
{% include logic/pp-post-footer.html %}
</article>
<!--End Linklog "{% include logic/pp-title.html %}"-->