<!--Begin Post "{{ page.title }}"-->
<article class="post h-entry">
<header class="row">
<hgroup class="span10">
<h1 class="p-name">
{% if content %}{% else %}<a href="{{ page.url }}" rel="bookmark">{% endif %}{{ page.title }}{% if content %}{% else %}</a>{% endif %}
</h1>
<h2><small>
<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
</small></h2>
{% if content %}{% include post_author.html %}{% endif %}
</hgroup>
</header>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<section class="e-content p-summary">
{% include content-switch.html %}
</section>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
{% include post_footer.html %}
</article>
<!--End Post "{{ page.title }}" -->