<!--Begin Post "{% include logic/pp-title.html %}"-->
<article class="post" itemprop='blogPost' itemscope itemtype="http://schema.org/BlogPosting">
<header>
<hgroup>
<h1 itemprop="name headline">
<a href="{% include logic/pp-url.html %}" itemprop="url" rel="bookmark">{% include logic/pp-title.html %}</a>
</h1>
<h2><small>
<time datetime="{% include logic/pp-date-xml.html %}" itemprop="datePublished">{% include logic/pp-date-str.html %}</time>
</small></h2>
{% include logic/pp-post-author.html %}
</hgroup>
</header>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<section itemprop="articleBody">
{% include logic/pp-content.html %}
</section>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
{% include logic/pp-post-footer.html %}
</article>
<!--End Post "{% include logic/pp-title.html %}"-->