<article class="post h-entry">
<header>
<hgroup>
<h1 class="p-name">
{% if page.title %}<a href="{{ page.url }}" rel="bookmark">{% endif %}{{ page.title }}{% if page.title %}</a>{% endif %}
</h1>
<h2><small>
<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
</small></h2>
<h3 class="author p-author h-card"><small>{{ site.author }}</small></h3>
</hgroup>
</header>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<section class="e-content p-summary">
{% include content_switch.html %}
</section>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
{% include post_footer.html %}
</article>