<!--Begin Post "{% include logic/pp-title.html %}"-->
<article class="post h-entry">
<header>
<hgroup>
<h1 class="p-name">
{% if post.title %}<a href="{% include logic/pp-url.html %}" rel="bookmark">{% endif %}{% include logic/pp-title.html %}{% if post.title %}</a>{% endif %}
</h1>
<h2><small>
<time class="dt-published" datetime="{% include logic/pp-date-xml.html %}">{% include logic/pp-date-str.html %}</time>
</small></h2>
{% include logic/pp-post-author.html %}
</hgroup>
</header>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<section class="e-content p-summary">
{% include logic/pp-content.html %}
</section>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
{% include logic/pp-post-footer.html %}
</article>
<!--End Post "{% include logic/pp-title.html %}"-->