<!--Begin note "{% include logic/pp-title.html %}"-->
<article class="note h-entry row">
	<header class="span2">
		<time class="dt-published" datetime="{{ post.date | date_to_xml }}">{{ post.date | date_to_string }}</time> &bull; <a rel="bookmark" class="u-url" href="{% include logic/pp-url.html %}">{{ site.permalink_marker }}</a>
	</li>
	</ul>
	</header>
<section class="e-content p-summary p-name span10">
<a class="u-in-reply-to" href="{{ post.in-reply-to-url }}">@{{ post.in-reply-to-title }}</a>
{% include logic/pp-content.html %}
</section>
</article>
<!--End Post "{% include logic/pp-title.html %}"-->