<div class="well well-small">
<h4 class="p-name"><a class="u-url" href="http://{{ site.url }}{{ page.url }}">{{ page.items[i].title }}</a></h4>
<dl>
	<dt>Description:</dt>
	<dd class="p-summary">{{ page.items[i].description }}</dd>
	<dt>Location:</dt>
	<dd class="p-location">{{ page.items[i].location }}</dd>
	<dt>Time:</dt>
	<dd><time class="dt-start" datetime="{{ page.items[i].time | date_to_xmlschema }}">{{ page.items[i].time | date: "%A %B %d %I:%M%p"  }}</time></dd>
	<dt>Ends:</dt>
	<dd><time class="dt-end" datetime="{{ page.items[i].ends | date_to_xmlschema }}">{{ page.items[i].ends | date: "%A %B %d %I:%M%p"  }}</time></dd>
</dl>
</div>