<!-- ================================================================ -->
<!-- Navbar -->
<!--
    TODO Fix HTML5 Schematics here
-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">{{ site.brand }}</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {% if page.url == "/index.html" %}<li class="active"><a href="/">Blog</a></li>{% else %}<li class=""><a href="/">Blog</a></li>{% endif %}
                    {% if page.url == "/about/" %}<li class="active"><a href="/about">About</a></li>{% else %}<li class=""><a href="/about">About</a></li>{% endif %}
                    {% if page.url == "/projects/" %}<li class="active"><a href="/projects">Projects</a></li>{% else %}<li class=""><a href="/projects">Projects</a></li>{% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</nav>