{% case content %}
{% when nil %}
{% include post-aside-webmention.html %}
{% else %}
{% if page.tagbox == true or page.breadcrumb == true or page.syndicate or page.webmention == true  %}
    {% if page.tagbox == true%}{% include post-aside-tags.html %}{% endif %}
	{% if page.breadcrumb == true%}{% include post-aside-crumb.html %}{% endif %}
	{% if page.syndicate %}{% include post-aside-syndicate.html %}{% endif %}
	{% if page.webmention == true%}{% include post-aside-webmention.html %}{% endif %}
{% endif %}
{% endcase %}
