{% if page.layout == "index" %}
<article class="post">
    <span>
        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <p class="lead"><small>{{post.date | date_to_string}}</small></p>
    </span>
    {{ post.content }}
    <hr>
</article>
{% else %}
<article class="post">
    <span>
        <h1><a href="{{ post.url }}">{{ page.title }}</a></h1>
        <p class="lead"><small>{{page.date | date_to_string}}</small></p>
    </span>
    {{ .content }}
    <hr>
</article>
{% endif %}

