/* Floating Navbar  Place before Respinsive bootstrap CSS
-------------------------------------------------- */
body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

/* Navbar Like Twitter Bootrap Doc
-------------------------------------------------- */
.navbar {
  font-size: 13px;
}

.navbar .brand {
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
.navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.9);
}

/* Footer
-------------------------------------------------- */

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 10px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

/* Article Formating
-------------------------------------------------- */
/* Formatting of article header time */

article {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px dotted #CCC;
}

article header {
    border-bottom: 1px solid #EEE;
    margin-bottom: 10px;
}
article header h1 {
    margin-bottom: 5px;
    font-size: 3.5em;
}
article header h2 {
    line-height: 0px;
    margin-top: 10px;
}

article header time {
    text-transform: uppercase;
}

article header h3 {
    line-height: 0px;
    margin-top: 10px;
}

/* Linklog Specifics 
-------------------------------------------------- */
/* Resize of the linklog Title */
article.linklog header h1 {
    font-size: 1.9em;
    
}

article.linklog header h2 small {
    font-size: 0.5em;
}

article.linklog-marker {
	font-size: 24.5px;
	font-weight: normal;
	line-height: 1;
	color: rgb(153, 153, 153);
}

/* Note Specifics 
-------------------------------------------------- */


/* Asides
-------------------------------------------------- */
/* Resize of the linklog Title */

#asides {
    margin-top: 20px;
}

#asides section.span4{
    padding-right: 20px;
}

#asides h1 {
    font-size: 1.5em;
    border-bottom: 1px dotted #CCC;
    color: #666;
    margin-bottom: 0px;
}

#asides ul {
    margin: 0 0 10px 0px;
    list-style: none;
}

#asides li {
    border-bottom: 1px dotted #CCC;
}

#asides li p {
    margin-bottom: 0px;
}

/* Pinboard Aside Specifics
-------------------------------------------------- */
/*
    TODO Figure out a better way to do this
*/
.pin-title {
    display: block;   
}

.pin-description{
    font-size: .8em;
}

.pin-tags{
        display: block;
}

.pin-tag {
    font-size: .8em;
    color: #777;
}
/* Video Formatting
-------------------------------------------------- */
/*!
 * Responsive video
 *
 * Copyright (c) 2011 ZURB, http://www.zurb.com/
 * MIT-LICENSE.txt
 *
 * https://gist.github.com/2302238
 */
.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
 
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}

.tag_box li {
    margin-bottom: 5px;
}

.tag_box .tag-count{
	vertical-align:super;
	font-size:0.8em;
}


.webmentions .count {
  list-style:none;
  overflow:hidden;
  padding:5px 0 ;
  margin:0;
}