---
layout: page
title: Categories
---
<ul class="tag_box inline">
    {% if site.categories.first[0] != null %}{% comment %} If categories exist {% endcomment %}
        {% for category in site.categories %}{% comment %} add an element like the following for each category item {% endcomment %}
            <li class="btn btn-mini"><a href="#{{ category[0] }}">{{ category[0] }}{% comment %} This is just the category name {% endcomment %}
            <span>{{ category[1].size }}</span>{% comment %} This counts the number of posts in a given category {% endcomment %}
            </a></li>
        {% endfor %}
    {% endif %}
</ul>

{% for category in site.categories %} 
<h1 id="{{ category[0] }}">{{ category[0] }}</h1>
<ul>  
    {% for category_post in category[1] %}
        {% if category_post.title != null %}
            {% if page.url == category_post.url %}
            <li class="active"><a href="#" class="active">{{category_post.title}}</a></li>
            {% else %}
            <li>{{ category_post.date | date: "%B %e, %Y" }} &raquo; <a href="{{category_post.url}}">{{category_post.title}}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
{% endfor %}