<!DOCTYPE html>
<html lang="en">
<head>
{% include head-meta.html %}

{% include head-css.html %}

{% include head-ico.html %}
</head>

<body>
<header>
{% include body-header-navbar.html %}
</header>

<main>
{{ content }}
</main>

{% if page.asides == true or page.footer == true %}
<div class="vcard">
{% if page.asides == true %}{% include body-asides.html %}{% endif %}
{% if page.footer == true %}{% include body-footer.html %}{% endif %}
</div>
{% endif %}
{% include body-js.html %}
</body>
</html>
