<!DOCTYPE html>
<html lang="en" manifest="/cache.manifest">
<head>
{% include meta.html %}

{% include css.html %}

{% include ico.html %}
</head>

<body>
<header>
{% include navbar.html %}
</header>

<section class="container">
{{ content }}
</section>

{% if page.asides == true or page.footer == true %}
<div class="vcard">
{% if page.asides == true %}{% include asides.html %}{% endif %}
{% if page.footer == true %}{% include footer.html %}{% endif %}
</div>
{% endif %}
{% include js.html %}
</body>
</html>