---
layout: default
asides: true
---
<!-- ================================================================ -->
<!-- Linklog -->
<!--
    TODO Get rid of linklog div
-->
{% include content-linklog.html %}
<ul class="tag_box inline">
    {% if page.tags.first != null %}{% comment %} If tags exist {% endcomment %}
        {% for tag in page.tags %}{% comment %} add an element like the following for each tag item {% endcomment %}
            <li class="btn btn-mini"><a href="/blog/tags/#{{ tag }}">{{ tag }}{% comment %} This is just the tag name {% endcomment %}
            <span>{{ tag.size }}</span>{% comment %} This counts the number of posts in a given tag {% endcomment %}
            </a></li>
        {% endfor %}
    {% endif %}
</ul>