---
layout: default
asides: false
tagbox: false
footer: false
---
<!--Begin note "{% include logic/pp-title.html %}"-->
<article class="note h-entry">
<section class="e-content p-summary p-name">
{% include logic/pp-content.html %}
</section>
<footer>
<ul class="h-card p-author">
<li><img src="http://www.gravatar.com/avatar/8d8b82740cb7ca994449cccd1dfdef5f?s=96" class="img-polaroid u-photo" alt="A picture of me!"></li>
<li><a class="p-name fn u-url url" href="http://{{ site.url }}/about">{{ site.author }}</a></li>
<li><a class="u-url" href="http://{{ site.url }}/about"><!-- This is here to force the hand of your MF2 parser --></a></li>
</ul>
<ul>
<li>
	<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
		{{ page.date | date_to_string }}
	</time> &bull; {{ site.permalink_marker }}	
</li>
<li>
	RE: <a class="u-in-reply-to" href="{{ page.in-reply-to-url }}">{{ page.in-reply-to-title }}</a>
</li>
</ul>
</footer>
</article>
<!--End Post "{% include logic/pp-title.html %}"-->