---
layout: default
asides: false
tagbox: false
---
<!--Begin note "{% include logic/pp-title.html %}"-->
<article class="note h-entry">
<section class="e-content p-summary p-name">
{% include logic/pp-content.html %}
</section>
<footer>
<ul>
<li><time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time> &bull; {% if post.title %}<a rel="bookmark" class="u-url" href="{% include logic/pp-url.html %}">{% endif %}{{ site.permalink_marker }}{% if post.title %}</li>
<li><a class="u-in-reply-to" href="{{ post.in-reply-to-url }}">{{ page.in-reply-to-url }}</a></li>
<ul>
</footer>
</article>
<!--End Post "{% include logic/pp-title.html %}"-->